<header class="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-2" title="Price Complex Processor" href="/">
        <i class="bi bi-cpu"></i>
        <span>PriceComPro</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Постачальники
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/ui/suppliers">Постачальники</a></li>
              <li><a class="dropdown-item" href="/ui/pricelists">Прайс-листи</a></li>
              <li><a class="dropdown-item" href="/ui/supplier-products">Товари постачальників</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Каталог товарів
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Товари каталогу</a></li>
              <li><a class="dropdown-item" href="#">Категорії</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Довідники
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/ui/currencies">Валюти</a></li>
              <li><a class="dropdown-item" href="#">Виробники</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
